<div class="container-content">

    <img src="FotoPrincipal.svg" alt="Foto de Elyvan B.S.">

    <div class="content-text">

        <div class="container-titulos">
            <h3>Técnico em Informática para Internet - IFAC</h3>
            <h1>ELYVAN BERNARDINO DA SILVA</h1>
            <h2>Universitário - UFAC</h2>
        </div>

        <div class="container-contatos .element">
            <div class="element-contatos">
                <a href="mailto:elyvanbs@email.com?subject=Contato%20via%20Portfólio
                &body=Olá%20Elyvan,%0D%0A%0D%0AVi%20seu%20portfólio%20e%20gostaria%20de%20conversar." target="_blank">
                    <img src="Gmail-icon.svg" alt="Icone do Gmail"></a>
            </div>
            <div class="element-contatos">

                <a href="https://www.linkedin.com/in/elyvanbs/" target="_blank"><img src="Linkedin-Icon.svg"
                        alt="Icone do Linkedin"></a>
            </div>
            <div class="element-contatos">

                <a href="https://github.com/ElyvanBS" target="_blank"><img src="Icon-GitHub.svg"
                        alt="Icone do Linkedin"></a>
            </div>
        </div>

        <p>Sou desenvolvedor <span>Front-end</span>, realizei meu ensino médio no Instituto Federal do Acre -
            <span>IFAC</span> -
            estou cursando a graduação na Universidade Federal do Acre - <span>UFAC</span>.
        </p>

        <div class="container-saiba">
            SAIBA MAIS
            <i class="ri-arrow-down-line"></i>
        </div>

    </div>


</div>