.container-content {

    display: flex;

    .content-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 70px;

        .container-titulos {
            color: white;

            h1 {
                margin-bottom: 10px;
            }
        }

        h3 {
            font-weight: 400;
            color: #9E9E9E;
        }

        h1 {
            color: #EAEAEA;
        }

        h2 {
            font-weight: 400;
            color: white;
        }

        p {
            font-weight: 400;
            color: white;

            span {
                color: #AB7EFF;

                font-weight: 1000;
                font-size: var(--font-size-h2);
            }
        }

        .container-contatos {
            display: flex;
            gap: 20px;

            .element-contatos {
                position: relative;
                overflow: hidden;
                border-radius: 40%;

                img {
                    width: 50px;
                    display: block;
                    transition: opacity 0.3s ease;
                    height: fit-content;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: -120%;
                    width: 120%;
                    height: 100%;
                    background: linear-gradient(45deg,
                            transparent 0%,
                            rgba(255, 255, 255, 0.6) 50%,
                            transparent 100%);
                    transition: all 0.6s ease;
                }

                &:hover {
                    img {
                        opacity: 0.85;
                    }

                    &::after {
                        left: 120%;
                    }
                }
            }
        }


        

    }

}

@media (max-width: 1440px) {

    .container-content {

        display: flex;
        flex-direction: column;

        img {
           
            height: 450px;
        }

        .container-titulos {
            margin-bottom: 30px;
        }

        .content-text {
            height: fit-content;
            margin: 0;
            justify-content: baseline;

            p{
                margin-top: 20px;
            }
            .container-saiba {
                margin-top: 3%;
                height: 45px;
            }

        }
    }

}

@media (max-width: 920px) {

    .container-content {
        text-align: center;


        img {
            height: 400px;
        }

        .container-contatos {
            display: flex;
            justify-content: center;
        }

    }
}