

.container-content {

    display: flex;

    .content-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 70px;

        .container-titulos {
            color: white;

            h1 {
                margin-bottom: 10px;
            }
        }

        h3 {
            font-weight: 400;
            color: #9E9E9E;
        }

        h1 {
            color: #EAEAEA;
        }

        h2 {
            font-weight: 400;
            color: white;
        }

        p {
            font-weight: 400;
            color: white;

            span {
                color: #AB7EFF;

                font-weight: 1000;
                font-size: var(--font-size-h2);
            }
        }

        .container-contatos {

            display: flex;
            gap: 20px;

            img {
                height: fit-content;
                width: 50px;
            }

        }

        .container-saiba {

            width: 100%;
            height: 40px;
            padding: 0 0px;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            color: white;
            background: var(--cor-gradient-primaria);
            border-radius: 5px;
            cursor: pointer;
            font-weight: 700;

            &:hover {

                i {
                    margin-top: 6px;
                }

            }

            i {

                transition: 0.5s all;

            }



        }

    }

}

@media (max-width: 1440px) {

    .container-content {

        display: flex;
        flex-direction: column;

        img {
            margin-bottom: 20px;
            height: 450px;
        }

        .container-titulos {
            margin-bottom: 30px;
        }

        .content-text {
            height: fit-content;
            margin: 0;
            justify-content: baseline;

            .container-saiba {
                margin-top: 3%;
                height: 45px;
            }

        }
    }

}

@media (max-width: 920px) {
    .container-content {
        text-align: center;



        img {
            height: 400px;
        }

        .container-contatos {
            display: flex;
            justify-content: center;
        }

    }
}

