<div class="container-division">
    <h3><i class="ri-customer-service-line"></i><span>Contate-me</span></h3>
</div>

<div class="container-contato">

    <div class="box-img">
        <img src="EBS.svg" alt="">
        <div class="line-img"></div>
    </div>

    <div class="container-content">

        <form action="">

            <div class="box-mensagem">
                <input type="text" name="nome" id="nome" placeholder=" ">
                <span>Seu nome:</span>
            </div>

            <div class="box-mensagem">
                <input type="text" name="email" id="email" placeholder=" ">
                <span>Seu e-mail:</span>
            </div>

            <div class="box-mensagem">
                <textarea name="mensagem" placeholder=" "></textarea>
                <span>Sua mensagem:</span>
            </div>

            <button type="submit">ENVIAR<i class="ri-arrow-down-line"></i></button>

        </form>

    </div>

</div>