.container-division {
    margin: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        font-weight: 600;

        i {
            font-weight: 200;
        }

    }

    color: white;
    background: var(--cor-gradient-division);
    height: 75px;
    border-bottom: 4px solid #512E95;

}

.container-academico {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 4rem;

    .container-box {

        background-color: #181818;
        width: 100%;
        height: max-content;
        padding: 35px;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        color: white;


        img {
            height: 270px;
            margin-bottom: 25px;
        }

        .important {
            font-size: var(--font-size-h3);
            color: var(--cor-tercearia);
            font-weight: 700;
        }

        .container-title {

            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            margin-bottom: 30px;

            span {
                color: #9E9E9E;
            }

            h3 {
                color: var(--cor-tercearia);
            }
        }


    }

    .container-box.c {
        grid-column: span 2;
        justify-content: start;
        flex-direction: row;

        .container-content {

            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        img {
            margin: 0;
        }

        .container-title {
            flex-direction: column;
            text-align: start;
        }

    }

}

@media (max-width: 1540px) {

    .container-academico {

        .container-box {
            img {
                height: 230px;
            }
        }
    }
}

@media (max-width: 1400px) {

    .container-academico {

        .container-box {
            img {
                height: 200px;
            }

        }
    }
}

@media (max-width: 1350px) {

    .container-academico {

        .container-box {
            img {
                height: 180px;
            }
        }
    }
}

@media (max-width: 1100px) {

    .container-academico {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .container-box.c {

            background-color: #181818;
            width: 100%;
            height: max-content;
            padding: 35px;
            border-radius: 10px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            color: white;


            img {
                height: 270px;
                margin-bottom: 25px;
            }

            .important {
                font-size: var(--font-size-h3);
                color: var(--cor-tercearia);
                font-weight: 700;
            }

            .container-title {

                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                margin-bottom: 30px;

                span {
                    color: #9E9E9E;
                }

                h3 {
                    color: var(--cor-tercearia);
                }
            }


        }

    }
}

@media (max-width: 660px) {

    .container-academico {
        .container-box {
            padding: 20px;

        }

        .container-box,
        .container-box.c {
            img {
                height: 150px;
            }
        }
    }


}