<div class="container-division">
    <h3><i class="ri-graduation-cap-fill"></i><span>Formação Acadêmica</span></h3>
</div>

<div class="container-academico">
    <div class="container-box a">
        <img src="UFAC.svg" alt="Imagem da UFAC">
        <div class="container-title">
            <h2>UNIVERSIDADE FEDERAL DO ACRE</h2>
            <span>Ensino Superior - 2026</span>
            <h3>Cursando a Graduação</h3>
        </div>
        <span><span class="important">Atualmente</span> estou cursando Bacharelado em <span class="important">Sistemas
                de
                Informação</span> – SI – na UFAC.</span>
    </div>

    <div class="container-box b">
        <img src="WEB.svg" alt="Imagem da UFAC">
        <div class="container-title">
            <h2>UNIVERSIDADE FEDERAL DO ACRE</h2>
            <span> Capacitação Full-Stack - 2025</span>
            <h3>Desenvolvimento Web Full-Stack</h3>
        </div>
        <span>Realizei o <span class="important">Web Academy</span> – Estudo contínuo no desenvolvimento de sites com
            tecnologias atuais com carga horária de <span class="important">300 horas</span>.
        </span>
    </div>

    <div class="container-box c">
        <img src="IFAC.svg" alt="Imagem da UFAC">

        <div class="container-content">

            <div class="container-title">
                <h2>UNIVERSIDADE FEDERAL DO ACRE</h2>
                <span>Ensino Técnico - 2023 / 2025</span>
                <h3>Técnico Formado</h3>
            </div>
            <span>Me formei como Técnico em <span class="important">Informática para Internet</span> – IPI – No IFAC,
                realizando 3 anos de aprendizagem contínua.</span>

        </div>

    </div>



</div>