header {
    display: flex;
    background: var(--cor-header);
    padding: 20px 8%;

    img {
        width: 150px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: end;

        ul {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 3em;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8em;
                list-style: none;
                color: white;
                cursor: pointer;
                transition: 0.5s all;
                font-size: var(--font-size-texto);

                span {
                    font-weight: 600;
                }

                &:hover {
                    font-size: 0.98rem;
                    opacity: 0.7;
                }
            }
        }

    }

}

.gradient-header {
    width: 100%;
    height: 10px;
    background: var(--cor-gradient-primaria);
}

@media (max-width: 1440px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0;

        img {
            margin-top: 20px;
        }

        nav {
            margin-top: 20px;

            ul {
                display: grid;
                grid-template-columns: 2fr 2fr;
                gap: 0;

                li {
                    background-color: #171717;
                    padding: 20px;

                    &:hover {
                        font-size: 0.95rem;
                    }
                }

            }
        }
    }

}

@media (max-width: 1024px) {
    header {


        nav {
            ul {
                li {

                    &:hover {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        img {
            width: 130px;
        }

        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 668px) {
    header {
        nav {
            ul {
                display: flex;
                flex-direction: column;

                li {
                    width: 100%;

                    &:hover {
                        font-size: 0.86rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 425px) {
    header {
        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    header {
        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.82rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    header {
        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.78rem;
                    }
                }
            }
        }
    }
}