header {
    display: flex;
    background: var(--cor-header);
    padding: 20px 8%;

    img {
        width: 150px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: end;

        ul {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 3em;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.8em;
                    color: white;
                    cursor: pointer;
                    transition: 0.5s all;
                    font-size: var(--font-size-texto);
                    text-decoration: none;

                    span {
                        font-weight: 600;
                    }

                    &:hover {
                        font-size: 0.98rem;
                        opacity: 0.7;
                    }
                }



            }
        }

    }

}

.gradient-header-footer {
    width: 100%;
    height: 10px;
    background: var(--cor-gradient-primaria);
}

footer {
    height: fit-content;
    background: var(--cor-header);
    padding: 40px 8%;

    .container-sup {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        font-size: var(--font-size-texto);
        font-weight: 700;
        height: 35px;
        width: 100%;
        background: var(--cor-gradient-primaria);
    }

    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: fit-content;

        .line-sup {

            background-color: aquamarine;
            padding: 6% 1px;
            background-color: #CFCFCF;
            border-radius: 10px;
        }

        .footer-title {
            display: flex;
            gap: 10px;

            h3 {
                color: white;

                i {
                    color: var(--cor-tercearia);
                }
            }


        }

        .box-footer {
            width: fit-content;

            .line-footer {
                height: 5px;
                width: 100%;
                background: var(--cor-gradient-primaria);
                margin-top: 10px;
                margin-bottom: 20px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 22px;
                width: fit-content;
                list-style: none;

                a {
                    text-decoration: none;
                }

                li {
                    color: white;
                    width: fit-content;

                    &:hover{
                    opacity: 0.7;
                    }
                }
            }
        }
    }
}

.container-retorno {
    background: var(--cor-gradient-primaria);
    position: fixed;
    right: 40px;
    bottom: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(49, 4, 48);
    color: white;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;

    transition: opacity 0.4s ease, transform 0.4s ease;

    i {
        font-size: var(--font-size-h2);
    }
}

.container-retorno.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


@media (max-width: 1440px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0;

        img {
            margin-top: 20px;
        }

        nav {
            margin-top: 20px;

            ul {
                display: grid;
                grid-template-columns: 2fr 2fr;
                gap: 0;

                li {
                    background-color: #171717;
                    padding: 20px;

                    &:hover {
                        font-size: 0.95rem;
                    }
                }

            }
        }
    }

}

@media (max-width: 1024px) {
    header {


        nav {
            ul {
                li {

                    &:hover {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        img {
            width: 130px;
        }

        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }

    footer {

        .footer-content {
            flex-direction: column;
            gap: 50px;

            .line-sup{
            display: none;
            }
        }
    }
}

@media (max-width: 668px) {
    header {
        nav {
            ul {
                display: flex;
                flex-direction: column;

                li {
                    width: 100%;

                    &:hover {
                        font-size: 0.86rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 425px) {
    header {
        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    header {
        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.82rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    header {
        nav {
            ul {
                li {
                    &:hover {
                        font-size: 0.78rem;
                    }
                }
            }
        }
    }
}