<header>
  <img src="EBS.svg" alt="Logo EBS">

  <nav>

    <ul>
      <li><a href="#sobre"><i class="ri-user-line"></i><span>Sobre Mim</span></a></li>
      <li><a href="#formacao"><i class="ri-graduation-cap-fill"></i><span>Formação Acadêmica</span></a></li>
      <li><a href="#projeto"><i class="ri-box-3-line"></i><span>Projetos</span></a></li>
      <li><a href="#contato"><i class="ri-customer-service-line"></i><span>Contate-me</span></a></li>
    </ul>

  </nav>

</header>
<div class="gradient-header"></div>
<main>

   <a href="#sobre"><div class="container-retorno"><i class="ri-arrow-up-s-line"></i></div></a>

  <app-sobre id="sobre"></app-sobre>
  <app-formacao id="formacao"></app-formacao>
  <app-projeto id="projeto"></app-projeto>
  <app-contato id="contato"></app-contato>

  <router-outlet></router-outlet>

</main>
<footer>

  <div class="container-sup">
    <span>Retornar ao Topo <i class="ri-arrow-up-s-line"></i></span>
  </div>

</footer>