<header>
  <img src="EBS.svg" alt="Logo EBS">

  <nav>

    <ul>
      <li><i class="ri-graduation-cap-fill"></i><span>Formação Acadêmica</span></li>
      <li><i class="ri-box-3-line"></i><span>Projetos</span> </li>
      <li><i class="ri-user-line"></i><span>Sobre Mim</span></li>
      <li><i class="ri-customer-service-line"></i><span>Contate-me</span></li>
    </ul>

  </nav>

</header>
<div class="gradient-header"></div>
<main>

  <app-sobre></app-sobre>
  <app-formacao></app-formacao>
  <app-projeto></app-projeto>
  <app-contato></app-contato>
  <router-outlet></router-outlet>

</main>
<footer>

  <div class="container-sup">
    <span>Retornar ao Topo <i class="ri-arrow-up-s-line"></i></span>
  </div>

</footer>