<header>
  <img src="EBS.svg" alt="Logo EBS">

  <nav>

    <ul>
      <li><a href="#sobre"><i class="ri-user-line"></i><span>Sobre Mim</span></a></li>
      <li><a href="#formacao"><i class="ri-graduation-cap-fill"></i><span>Formação Acadêmica</span></a></li>
      <li><a href="#projeto"><i class="ri-box-3-line"></i><span>Projetos</span></a></li>
      <li><a href="#contato"><i class="ri-customer-service-line"></i><span>Contate-me</span></a></li>
    </ul>

  </nav>

</header>
<div class="gradient-header-footer"></div>
<main>

  <a href="#sobre">
    <div class="container-retorno" [class.visible]="mostrarSup">
      <i class="ri-arrow-up-s-line"></i>
    </div>
  </a>

  <app-sobre id="sobre"></app-sobre>
  <app-formacao id="formacao"></app-formacao>
  <app-projeto id="projeto"></app-projeto>
  <app-contato id="contato"></app-contato>

  <router-outlet></router-outlet>

</main>
<div class="gradient-header-footer"></div>

<footer>


  <div class="footer-content">

    <div class="box-footer">
      <div class="footer-title">
        <h3><i class="ri-navigation-line"></i></h3>
        <h3>Navegação:</h3>
      </div>
      <div class="line-footer"></div>

      <ul>

        <a href="#sobre">
          <li>Sobre Mim</li>
        </a>
        <a href="#formacao">
          <li>Formação Acadêmica</li>
        </a>
        <a href="#projeto">
          <li>Projetos</li>
        </a>
        <a href="#contato">
          <li>Contate-me</li>
        </a>
      </ul>

    </div>

    <div class="line-sup"></div>

    <div class="box-footer">
      <div class="footer-title">
        <h3><i class="ri-customer-service-line"></i></h3>
        <h3>Contate-me:</h3>
      </div>
      <div class="line-footer"></div>

      <ul>

        <a href="mailto:elyvanbs@email.com?subject=Contato%20via%20Portfólio
                &body=Olá%20Elyvan,%0D%0A%0D%0AVi%20seu%20portfólio%20e%20gostaria%20de%20conversar." target="_blank">
          <li>Email: elyvanbs&#64;gmail.com</li>
        </a>
        <a href="https://www.linkedin.com/in/elyvanbs/" target="_blank">
          <li>Linkedin: &#64;elyvanbs</li>
        </a>
        <a href="https://github.com/ElyvanBS" target="_blank">
          <li>Instagram: &#64;elyvan.bs</li>
        </a>
 
      </ul>

    </div>

  </div>

</footer>