.container-division {
    margin: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        font-weight: 600;

        i {
            font-weight: 200;
        }

    }

    color: white;
    background: var(--cor-gradient-division);
    height: 75px;
    border-bottom: 4px solid #512E95;

}

.container {

    display: flex;
    flex-direction: column;
    gap: 70px;
}

.container-project {
    width: 100%;
    gap: 30px;

    img {
        height: 300px;
    }

    .container-content {
        display: flex;

        .container-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 30px;

            .container-title {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h1 {
                    color: white;
                }

                h3 {
                    color: #9E9E9E;
                    font-weight: 400;
                }
            }

            .container-tecnologias {
                h2 {
                    color: #9E9E9E;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                .container-boxes {
                    display: flex;
                    gap: 15px;
                    flex-wrap: wrap;
                }

                .container-box-tecnologia {
                    background-color: #181818;
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 20px;
                    gap: 10px;

                    img {
                        height: 26px;
                    }

                    span {
                        color: white;
                        font-weight: 1000;
                    }
                }
            }
        }

    }

    .button-saiba-mais {
        width: 100%;
        height: 40px;
        padding: 0 0px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        color: white;
        background: var(--cor-gradient-primaria);
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
        margin-top: 30px;

        &:hover {

            i {
                margin-top: 6px;
            }

        }

        i {

            transition: 0.5s all;

        }

    }

}

.container-project.b {

    .container-content {
        flex-direction: row-reverse;
    }

    .container-text {
        margin-left: 0px !important;
        margin-right: 30px;

        text-align: right;

        .container-tecnologias {


            .container-boxes {
                justify-content: end;
            }
        }
    }

}

@media (max-width: 1580px) {

    .container-project,
    .container-project {


        img {
            height: 270px;
        }
    }

}

@media (max-width: 1580px) {

    .container-project.b {

        .container-content {
            flex-direction: row;
        }

        .container-text {
            margin-left: 0px !important;
            margin-right: 0px;
            text-align: left;

            .container-tecnologias {

                .container-boxes {
                    justify-content: start;
                }
            }
        }

    }

    .container-project,
    .container-project.b {

        .container-content {
            display: flex;
            flex-direction: column;

            img {
                height: 350px;
            }

            .container-text {
                margin: 20px 0px 0px 0px;

                .container-title {
                    text-align: center;
                    margin-bottom: 30px;
                }

            }
        }
    }
}

@media (max-width: 560px) {

    .container-project.b {

        .container-content {
            display: flex;
            flex-direction: column;

            img {
                height: 260px;
            }

            .container-text {
                margin-top: 20px;
            }
        }
    }

    .container-project {

        .container-content {
            display: flex;
            flex-direction: column;

            img {
                height: 260px;
            }

            .container-text {
                margin-top: 20px;
            }
        }
    }
}