<div class="container-division">
    <h3><i class="ri-box-3-line"></i><span>Projetos</span></h3>
</div>

<div class="container">

<div class="container-project">
    <div class="container-content">

        <img src="SCRP.svg" alt="Imagem do Projeto SCRP">


        <div class="container-text">
            <div class="container-title">
                <h1>SISTEMAS DE CRIAÇÃO DE RELATÓRIOS E PROJETOS - SCRP</h1>
                <h3>Capacitação de Desenvolvimento Web Full-Stack - Web Academy</h3>
            </div>

            <div class="container-tecnologias">

                <h2>Tecnologias:</h2>
                <div class="container-boxes">

                    <div class="container-box-tecnologia">
                        <img src="Icon-Angular.svg" alt="Icone do Angular">
                        <span>ANGULAR</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Java.svg" alt="Icone do Java">
                        <span>JAVA</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-WorkBench.svg" alt="Icone do WorkBench">
                        <span>WORKBENCH</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-GitHub.svg" alt="Icone do GitHub">
                        <span>GIT HUB</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Git.svg" alt="Icone do Git">
                        <span>GIT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-SpringBoot.svg" alt="Icone do SpringBoot">
                        <span>SPRING BOOT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Maven.svg" alt="Icone do Maven">
                        <span>MAVEN</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-BootStrap.svg" alt="Icone do BootStrap">
                        <span>BOOTSTRAP</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Docker.svg" alt="Icone do Docker">
                        <span>DOCKER</span>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    <div class="button-saiba-mais">SAIBA MAIS <i class="ri-arrow-down-line"></i>
    </div>
</div>

<div class="container-project b">
    <div class="container-content">

        <img src="Candeias.svg" alt="Imagem do Grupo Candeias">


        <div class="container-text">
            <div class="container-title">
                <h1>GRUPO CANDEIAS - INSTITUCIONAL</h1>
                <h3>Desenvolvimento em equipe - Grupo de Capoeira</h3>
            </div>

            <div class="container-tecnologias">

                <h2>Tecnologias:</h2>
                <div class="container-boxes">

                   
                    
                    
                    <div class="container-box-tecnologia">
                        <img src="Icon-GitHub.svg" alt="Icone do GitHub">
                        <span>GIT HUB</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Git.svg" alt="Icone do Git">
                        <span>GIT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Html.svg" alt="Icone do Html">
                        <span>HTML</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Css.svg" alt="Icone do Css">
                        <span>CSS</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Js.svg" alt="Icone do Javascript">
                        <span>JAVASCRIPT</span>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    <div class="button-saiba-mais">SAIBA MAIS <i class="ri-arrow-down-line"></i>
    </div>
</div>

<div class="container-project">
    <div class="container-content">

        <img src="BookLine.svg" alt="Imagem da BookLine">


        <div class="container-text">
            <div class="container-title">
                <h1>BOOK LINE - ECOMMERCE</h1>
                <h3>Desenvolvimento pessoal - Marketplace - Livraria</h3>
            </div>

            <div class="container-tecnologias">

                <h2>Tecnologias:</h2>
                <div class="container-boxes">

                    <div class="container-box-tecnologia">
                        <img src="Icon-Mysql.svg" alt="Icone do GitHub">
                        <span>MYSQL</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Xampp.svg" alt="Icone do GitHub">
                        <span>XAMPP</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Php.svg" alt="Icone do Php">
                        <span>PHP</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-GitHub.svg" alt="Icone do GitHub">
                        <span>GIT HUB</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Git.svg" alt="Icone do Git">
                        <span>GIT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Html.svg" alt="Icone do Html">
                        <span>HTML</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Css.svg" alt="Icone do Css">
                        <span>CSS</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Js.svg" alt="Icone do Javascrpt">
                        <span>JAVASCRIPT</span>
                    </div>\
                </div>

            </div>
        </div>
        
    </div>

    <div class="button-saiba-mais">SAIBA MAIS <i class="ri-arrow-down-line"></i>
    </div>
</div>

<div class="container-project b">
    <div class="container-content">

        <img src="Vannily.svg" alt="Imagem da Vannily">


        <div class="container-text">
            <div class="container-title">
                <h1>ECOMMERCE - VANNILY</h1>
                <h3>Desenvolvimento em equipe - Marketplace - Livraria</h3>
            </div>

            <div class="container-tecnologias">

                <h2>Tecnologias:</h2>
                <div class="container-boxes">
                    
                    <div class="container-box-tecnologia">
                        <img src="Icon-React.svg" alt="Icone do React">
                        <span>REACT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Typescript.svg" alt="Icone do Typescript">
                        <span>TYPESCRIPT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-GitHub.svg" alt="Icone do GitHub">
                        <span>GIT HUB</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Git.svg" alt="Icone do Git">
                        <span>GIT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Html.svg" alt="Icone do Html">
                        <span>HTML</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Tailwind.svg" alt="Icone do Tailwind Css">
                        <span>TAILWIND CSS</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Js.svg" alt="Icone do Javascript">
                        <span>JAVASCRIPT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Maven.svg" alt="Icone do Maven">
                        <span>MAVEN</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-SpringBoot.svg" alt="Icone do Spring Boot">
                        <span>SPRING BOOT</span>
                    </div>
                    <div class="container-box-tecnologia">
                        <img src="Icon-Java.svg" alt="Icone do Java">
                        <span>JAVA</span>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    <div class="button-saiba-mais">SAIBA MAIS <i class="ri-arrow-down-line"></i>
    </div>
</div>
</div>